{%extends "layout.html"%}

{%block title%}
food here why fear
{%endblock%}

{%block content%}
<h1 class="text-center text-white mt-4">
</h1>
<div class="container">
    <img src="{{restaurant.photo.url}}" alt="">
    <p class="text-white mt-4">{{restaurant.text}}</p>
    {%for review in reviews%}
    <div class="card mb-2">
        <div class="card-header">
          Review
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="text-black">{{review.text}}</p>
            <footer class="blockquote-footer">{{review.user.username}}</footer>
          </blockquote>
        </div>
      </div>
    {%endfor%}
    <form action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="restaurant" id="" value="{{restaurant.id}}">
        <textarea type="text" name="text" id=""></textarea>
        <input type="submit">
    </form>

</div>
{%endblock%}